.banner {
  color: white;
  object-fit: contain;
  height: 600px;
}
.bannercontents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
  font-weight: 200;
}
.bannertitle {
  padding-top: 230px;
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 20px;
  font-family: Arial, sans-serif;
}
.bannerdescription {
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 360px;
  font-size: 9px;
}
.bannerbuttons > button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 2px;
  color: #141414;
  font-weight: 800;
}
.bannerbuttons > button:hover {
  color: #141414;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.bottom {
  background-image: linear-gradient(transparent, black);
  height: 400px;
  margin: 0;
  padding: 0;
}
.basiccss {
  padding: 0;
  margin: 0;
}
@media (max-height: 1000px) {
  .bannerdescription {
    font-size: 7px;
  }
}
